name: gaiaflow
channels:
  - conda-forge
dependencies:
  - python >3.10,<3.13
  - cookiecutter
  # We need the following as we need to preserve the comments in the environment.yml which Pyyaml does not support currently.
  - pip
  - pip:
      - ruamel.yaml
  # Development Dependencies - Tools
  - mkdocs
  - mkdocs-autorefs
  - mkdocs-material
  - mkdocs-jupyter
  - mkdocstrings
  - mkdocstrings-python
  # Testing
  - pytest
  - ruff
  - pytest-cov