name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install requirements
        run: pip install mkdocs mkdocs-material mkdocstrings mkdocstrings-python mkdocs-jupyter

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
